body{
    margin: 0;
    margin-top: -20px;
    background-color: black;
}

/* Presentation */
.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40em;
}

.presentation h1{
    color: white;
    margin-top: 3em;
    font-size: 80px;
    font-family: panton;

}

.presentation h3{
    color: #FF56D4;
    margin-top: -1.5em;
    font-size: 34px;
    font-family: caviar;
}

.logos{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px; 
}


/* proyectos */

.projects{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
    background-color: black;
}

.projects h1{
    color: white;
    font-family: panton;
}

.project1{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 30px;
    border-radius: 20px;
    background: linear-gradient(to left, #FF56D4, black);
}

.text{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.text h2{
    font-family: panton;
    font-size: 35px;
    margin-top: 5px;
    text-shadow: 
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px  2px 0 black,
        2px  2px 0 black; 
       
}

.text p{
    font-family: caviar;
    font-size: 20px;
    width: 610px;
    font-weight: bold;
    text-shadow: 
        -2px -2px 0 black;
}

.buttons_projects{
    margin-top: 100px;
    text-align: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 50px;
    display: flex;
}

.buttons_projects button{
    height: 40px;
    width: 240px;
    border-radius: 15px;
    transition: all 0.3s ease;
    font-family: panton;
    cursor: pointer;
}

.buttons_projects button:hover{
    background-color: pink;
    transform: scale(1.05);
    font-size: 15px;
}

.project2{
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    gap: 30px;
    border-radius: 20px;
    background: linear-gradient(to right, #FF56D4, black);
}

#ghlogo{
    height: 20px;
    margin-right: 12px;
    margin-bottom: -2px;
    width: 20px;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.buttons button{
    height: 40px;
    width: 210px;
    border-radius: 15px;
    transition: all 0.3s ease;
    font-family: panton;
    cursor: pointer;
}

.buttons button:hover{
    background-color: #FF56D4;
    transform: scale(1.05);
    font-size: 15px;
}

.project1 img{
    border-radius: 20px 0 0 20px;
    width: 50vw;  /* La imagen ocupar치 el 50% del ancho de la pantalla */
    height: auto; /* Mantiene la proporci칩n */
    max-width: 500px; /* Tama침o m치ximo para evitar que sea demasiado grande */
}

.project2 img{
    border-radius: 0 20px 20px 0;
    width: 50vw;  /* La imagen ocupar치 el 50% del ancho de la pantalla */
    height: auto; /* Mantiene la proporci칩n */
    max-width: 500px; /* Tama침o m치ximo para evitar que sea demasiado grande */
}

/*Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Orbitron:wght@400;700&display=swap');

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
}

p, body {
    font-family: 'Nunito', sans-serif;
}

@font-face {
    font-family: caviar;
    src: url('./CaviarDreams.ttf');
}

@font-face {
    font-family: panton;
    src: url('./PantonNarrow-Trial-Black.ttf');
}

/* Responsive */
@media (max-width: 728px) {
    .presentation h1{
        margin-top: 4em;
        font-size: 50px;
    }
    
    .presentation h3{
        margin-top: -1.4em;
        font-size: 32px;
    }
    
    .logos{
        gap: 30px;
    }

    #ghlogo{
        height: 10px;
        width: 10px;
    }
    
    .buttons{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .buttons button{
        height: 40px;
        width: 210px;
    }
    
    .buttons button:hover{
        font-size: 16px;
    }
    
    .projects{
        gap: 40px;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .project1{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .project2{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .project1 img{
        height:12em;
        width:24em;
    }

    .project2 img{
        height:12em;
        width:24em;
    }
    
    .text{
        color: white;
        text-align: left;
        margin-left: 10px;
    }
    
    .text h2{
        font-size: 35px;
        margin-top: 0px;
        margin-right: 10px;
    }
    
    .text p{
        font-size: 15px;
        width: 360px;
        font-weight: bold;
        margin-top: -10px;
    }
    
    .buttons_projects{
        margin-top: 20px;
        justify-content: center;
        gap: 20px;
        margin-bottom: 10px;
    }
    
    .buttons_projects button{
        height: 20px;
        width: 100px;
        border-radius: 15px;
    }

    .project1 img{
        border-radius: 20px 0 0 0;
    }
    
    .project2 img{
        border-radius: 20px 0 0 0;
    }
}

/* 游 TABLETS (entre 728px y 1024px) */
@media (min-width: 728px) and (max-width: 1024px) {
    .presentation h1 {
        font-size: 55px;
    }

    .presentation h3 {
        font-size: 34px;
    }

    .logos {
        gap: 40px;
    }

    #ghlogo {
        height: 20px;
        width: 20px;
    }

    .buttons {
        flex-direction: row;
        gap: 30px;
    }

    .buttons button {
        height: 45px;
        width: 220px;
    }

    .projects {
        gap: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .project1,
    .project2 {
        flex-direction: row;
        gap: 40px;
    }

    .project1 img,
    .project2 img {
        height: 14em;
        width: 28em;
    }

    .text {
        text-align: left;
        margin-left: 20px;
    }

    .text h2 {
        font-size: 38px;
    }

    .text p {
        font-size: 17px;
        width: 400px;
    }

    .buttons_projects {
        gap: 25px;
    }

    .buttons_projects button {
        height: 25px;
        width: 110px;
    }
}